@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&family=Varela+Round&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #071730;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
  z-index: 999;
  position: sticky;
  left: 0;
  top: 0;
}

.logo {
  margin-left: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.menu{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 30px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a:hover,
.menu li a.active{
  color: #088178;
}

.menu li a.active::after,
.menu li a:hover::after{
  content: ""; 
  width: 30%;
  height: 2px;
  background: #088178;
  position:absolute;
  bottom: -4px;
  left: 20px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-brand {
    text-align: center;
  }

  .navbar-menu {
    width: 100%;
  }

  .navbar-menu li {
    display: block;
  }

  .navbar-menu li a {
    text-align: left;
  }
}

header {
  background-color: #1a202c;
  color: #fff;
  /* padding-bottom: 40px; */
}

.hero {
  background-color: #062545;
  text-align: center;
  padding: 100px 0;
  height: 100vh;
}

.container2 {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20vh;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffea00;
  color: #0d0202;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
}

.cta-button:hover,
.cta-button.active{
  background-color: #eeba0b;
  color: #fff;
  transform: translateY(-2px);
}

.cta-button.active::after,
.cta-button:hover::after{
  width: 30%;
  height: 2px;
  background: #088178;
  position:absolute;
  bottom: -4px;
  left: 20px;
}

.features {
  background-color: #f7fafc;
  padding: 80px 0;
  text-align: center;
}

.features h2 {
  animation-name: moveInBottom;
  animation-duration: 2s;
  font-size: 36px;
  margin-bottom: 40px;
}

.feature {
  animation-name: moveInBottom;
  animation-duration: 4s;
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

.about {
  padding: 80px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.about p {
  font-size: 16px;
  margin-bottom: 40px;
}

.contact {
  background-color: #f7fafc;
  padding: 80px 0;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact p {
  font-size: 16px;
  margin-bottom: 40px;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  margin-bottom: 20px;
  padding: 10px;
}

.contact button {
  padding: 10px 20px;
  background-color: #10b834;
  color: #fff;
  font-size: 16px;
  border: none;
  /* border-radius: 20%; */
  cursor: pointer;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-media li {
  display: inline-block;
  margin: 0 10px;
}

.social-media li a {
  color: #fff;
  font-size: 24px;
}

@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  80%{
    transform: translate(10px);

  }
  100%{
    opacity: 100;
    transform: translate(0);
  }
}
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80%{
    transform: translate(-10px);

  }
  100%{
    opacity: 100;
    transform: translate(0);
  }
}
@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 100;
    transform: translateY(0);
  }
}