@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&family=Varela+Round&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #071730;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
  z-index: 999;
  position: sticky;
  left: 0;
  top: 0;
}

.logo {
  margin-left: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.menu{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 30px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a:hover,
.menu li a.active{
  color: #088178;
}

.menu li a.active::after,
.menu li a:hover::after{
  width: 30%;
  height: 2px;
  background: #088178;
  position:absolute;
  bottom: -4px;
  left: 20px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-brand {
    text-align: center;
  }

  .navbar-menu {
    width: 100%;
  }

  .navbar-menu li {
    display: block;
  }

  .navbar-menu li a {
    text-align: left;
  }
}


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.about h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.about p {
  font-size: 20px;
  margin-bottom: 40px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: #000000;
  color: #fff;
  /* padding: 20px; */
  text-align: center;
}

.social-media li {
  display: inline-block;
  margin: 0 10px;
}

.social-media li a {
  color: #fff;
  font-size: 24px;
}

@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  80%{
    transform: translate(10px);

  }
  100%{
    opacity: 100;
    transform: translate(0);
  }
}
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80%{
    transform: translate(-10px);

  }
  100%{
    opacity: 100;
    transform: translate(0);
  }
}
@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 100;
    transform: translateY(0);
  }
}